<div class="col-12">
    <div class="row bg-green p-3 align-items-center">
        <div class="col-8">
            <h1>My Experimental player</h1>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <input type="text" class="form-control bg-green" (keyup)=searchVideo($event.target.value)
                *ngIf="searchView==true">
            <button class="btn m-0" (click)="toggleSearch()">
                <i class="mr-3"
                    [ngClass]="{'ri-search-2-line':searchView==false, 'ri-close-line':searchView==true}"></i>
            </button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="row" *ngIf="isMobileResolution == true">
                <div class="col-sm-6 col-lg-2" *ngFor="let video of videos; let indice = index">
                    <a (click)="toggleVideo(indice)" [hidden]="hideSlide(indice)">
                        <div style="position: relative;">
                            <iframe class="embed-responsive-item w-100" style="z-index: 1;"
                                [src]="mySecureVideo(indice)" frameborder="0" allowfullscreen></iframe>
                            <div
                                style="position:absolute; top: 0; left: 0; width:100%; height:97%;background-color:aliceblue;opacity:0.1;">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" *ngIf="isMobileResolution == false">
                <div class="col-sm-6 col-lg-2" *ngFor="let video of videos; let indice = index">
                    <a (click)="toggleVideo(indice)">
                        <div style="position: relative;">
                            <iframe class="embed-responsive-item w-100" style="z-index: 1;"
                                [src]="mySecureVideo(indice)" frameborder="0" allowfullscreen></iframe>
                            <div
                                style="position:absolute; top: 0; left: 0; width:100%; height:97%;background-color:aliceblue;opacity:0.1;">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" *ngIf="isMobileResolution == true">
                <div class="col-12">
                    <div class="d-flex flex-row justify-content-between">
                        <button class="btn bg-light-green" (click)="prevSlide()">
                            <i class="ri-arrow-left-s-line"></i>
                        </button>
                        <button class="btn bg-light-green" (click)="nextSlide()">
                            <i class="ri-arrow-right-s-line"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="wrapper">
                <div class="content">
                    <iframe class="embed-responsive-item" style="width: 100%; height: 100%;" frameborder="0"
                        [src]="urlActual" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <hr class="bg-light-green">
            <h3 class="text-white">{{ nombreActual }}</h3>
            <hr class="bg-light-green">
            <p class="text-white">{{ descripcionActual }}</p>
        </div>
    </div>

    <hr class="bg-light-green">
    <div class="row mb-3">
        <div class="col-sm-12 col-md-6 d-flex" [ngClass]="{'justify-content-center': isMobileResolution == true}">
            <span class="text-white">Experimentallity front-end test</span>
        </div>
        <div class="col-sm-12 col-md-6 d-flex"
            [ngClass]="{'justify-content-end': isMobileResolution == false, 'justify-content-center': isMobileResolution == true}">
            <span class="text-white">©All rights reserved {{ currentYear }}</span>
        </div>
    </div>
</div>